*
!.gitignore
!README.md
!init.template.lisp
!init-asdf.lisp
!init-aws.lisp
!init-cffi.lisp
!init-libs.lisp
!init-others.template.lisp
!init-sbcl.lisp
!init-wbs.lisp
!init-nobita.lisp
!init-ter.lisp
!init-strobolights.lisp
!init-spinor.lisp
!init-genius-party.lisp
!init-qupool.lisp
!init-dirs.lisp
!init-upanishad.lisp
!init-shinrabanshou.lisp
